:root{
  --theme-font: Verdana, Geneva, Tahoma, sans-serif;
  --theme-font-color: rgb(70, 70, 70);
}

body{
  font-family: var(--theme-font);
  font-size: 20px;
  width: 100%;
  text-align: center;
  
}

h1{
  font-size: 3vh;
  color: var(--theme-font-color); 
}

video{
  width: 400px;
  height: 300px;
}

#enterPage{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#local-container, #remote-container{
  display: none;
}

.container-grid{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.video_chat-grid, .text_chat-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text_chat-grid textarea, .text_chat-grid div{
  margin: 1vh 0vh;
}

#local-container, #remote-container{
  display: none;
  /* display: flex; */
  flex-direction: column;
}

.box{
  display: flex;
  flex-direction: row;
}
.box button{
  margin: 0vh 1vh;
}

#startButton{
  width: 100px;
  border-radius: 100px;
  margin-bottom: 3vh;
}