<section id="footer">

  <div class="footer-container">
    <div class="copyright">
      Copyright © 2021 YIHAN HSIAO. All rights reserved.
    </div>

    <div class="email-container">
      <a href="mailto:newy860318@gmail.com" class="email">
        <i class="far fa-envelope icon-style"></i>
        <span class="email-text">contact me</span>
      </a>
    </div>
  </div>

</section>