<header>
  <div class="logo-container">
    <a href="../index.html">
      <!-- <img src="./img/logo.png" class="nav-img"> -->
      <span class="text logo">YIHAN HSIAO</span>
    </a>
  </div>

  <nav>
    <ul>
      <li>
        <a class="text nav-link" href="#about-new">ABOUT <span class="sr-only">(current)</span></a>
      </li>
      <li>
        <a class="text nav-link" href="#experience">EXPERIENCE</a>
      </li>
      <li>
        <a class="text nav-link" href="#skills">SKILLS</a>
      </li>
      <li>
        <a class="text nav-link" href="#portfolio">WORKS</a>
      </li>
      <li>
        <a class="text nav-link" href="#photography">PHOTOGRAPHY</a>
      </li>
      <li>
        <a type="button" class="text cv-link" target="_blank" href="./yihan_resume.pdf">RESUME'</a>
      </li>
    </ul>
  </nav>


  <section id="side-nav">
    <a class="fa fa-linkedin" target="_blank" href="https://www.linkedin.com/in/yihanyozikua/?locale=en_US"></a>
    <a class="fab fa-github" target="_blank" href="https://github.com/yihanYozikua"></a>
    <a class="fab fa-instagram" target="_blank" href="https://www.instagram.com/furrysix.photo/"></a>
    <a class="fab fa-facebook" target="_blank" href="https://www.facebook.com/newy860318/" style="margin-bottom: 0;"></a>
  </section>
</header>